{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
    {% for post in paginator.posts %}
      <div class="col-md-6"> <!-- Изменено с col-md-12 на col-md-6 для двух столбцов -->
        <div class="wow fadeIn">
          {% if post.position == "left" %}
            {% include content-left.html %}
          {% endif %}

          {% if post.position == "right" %}
            {% include content-right.html %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
    </main>

{% include footer.html %}
